*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor

# YARD artifacts
.yardoc
_yardoc
doc/

#yardstick report
measurements/report.txt

# Automatic Ruby switching
.ruby-version
Gemfile.lock
