# Currently fails on JRuby, partly due to Nokogiri behaving differently,
# and partly for some other reason I'm not sure about regarding
# Hexp::Node::Normalize
language: ruby
script: "bundle exec rspec"
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.1
  - 2.1.2
  - jruby
  - jruby-head
  - ruby-head
matrix:
  allow_failures:
    - rvm: jruby
    - rvm: ruby-head
    - rvm: jruby-head
